%h1 VisitCounterHBPlugin Management
.visits
  %h2 Visits
  %h3== Entire Site: #{@count}
  %h3== Each Page:
  - @all_counts.each do |page, count|
    %p== #{page}: #{count}
.actions
  %h2 Reset
  = form_tag ::VisitCounterHBPlugin::Engine.full_path('/reset'), method: 'put' do
    = submit_tag('Reset')
